.cart {
  width: 10%;
  height: 10%;
  
}

.cart-widget {
  display: inline-block;
  margin-right: -90%;
  text-align: right;
  border: 3px solid black;
  width: 60px;
  padding: 10px;
  background-color: aquamarine;
}
