
.item-list-container-title {
margin-top: 5%;
text-align: center;
}

.item-list-container {
    margin-top: 5%;
    height: 100%;
}

.back-btn {
    background-color: aquamarine;
    color: black;
    border: 3px solid black;
    font-size: 20px;
    font-weight: bolder;
    margin: 30px;
    bottom: 50px;
    padding: 5px;
    
}
